PORT=5000
MONGO_URI=mongodb://yuvrajkumar4588_db_user:Yuvraj123kmp@ac-uiytml6-shard-00-00.zqmxe7m.mongodb.net:27017,ac-uiytml6-shard-00-01.zqmxe7m.mongodb.net:27017,ac-uiytml6-shard-00-02.zqmxe7m.mongodb.net:27017/?ssl=true&replicaSet=atlas-42zq3o-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=FNrB8zko23nvYOdZ4d9NR3lF5jFsSZv4MJLOIHFuWaW
JWT_EXPIRES_IN=7d
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
